[Unit]
Description=OpenRGB control

[Service]
Type=oneshot
ExecStart=/usr/bin/openrgb --profile pinkblue.orp
User=root
Group=root

[Install]
WantedBy=multi-user.target
