# Inserts a blank line between shell prompts
add_newline = false
scan_timeout = 10

format = "$directory(.$git_status$git_branch)$kubernetes${env_var.ARM_STAGE}${env_var.ARM_PROD} "

[directory]
format = "[$path]($style)"
style = "cyan"

truncation_length = 1
truncation_symbol = ""

[git_branch]
format = "[$branch]($style)"
style = "blue"

[git_status]
format = '([\[[$all_status$ahead_behind](pink)\]](white))'
style = ""

[kubernetes]
symbol = ":"
format = '[[$symbol](fg)$context([@](fg)$namespace)]($style)'
style = 'white'
disabled = false

[kubernetes.context_aliases]
'cluster-prod-sovity' = 'prod_❌'
'cluster-stage-sovity' = 'stage_⚠️'


[env_var.ARM_STAGE]
default = ''
style = "bold yellow"
symbol = '</>'
format = '[([$symbol](fg)$env_value)]($style)'

[env_var.ARM_PROD]
default = ''
style = "bold red"
symbol = '</>'
format = '[([$symbol](fg)$env_value)]($style)'


