# Inserts a blank line between shell prompts
add_newline = false
scan_timeout = 10

format = "$directory(.$git_status$git_branch)$kubernetes${env_var.ARM_STAGE}${env_var.ARM_PROD} "

[directory]
format = "[$path]($style)"
style = "cyan"

truncation_length = 1
truncation_symbol = ""

[git_branch]
format = "[$branch]($style)"
style = "blue"

[git_status]
format = '([\[[$all_status$ahead_behind](pink)\]](white))'
style = ""

[kubernetes]
symbol = ":"
format = '[[$symbol](fg)$context([@](fg)$namespace)]($style)'
style = 'white'
disabled = false

[[kubernetes.contexts]]
context_pattern = ".*stage.*"
style = "yellow"
context_alias = "stage"

[[kubernetes.contexts]]
context_pattern = ".*prod.*"
style = "red"
context_alias = "prod"

[env_var.ARM_STAGE]
default = ''
style = "bold yellow"
symbol = '</>'
format = '[([$symbol](fg)$env_value)]($style)'

[env_var.ARM_PROD]
default = ''
style = "bold red"
symbol = '</>'
format = '[([$symbol](fg)$env_value)]($style)'


