configuration {
	modi: "drun";
	width: 15;
	lines: 12;
	font: "Fira Code 11";
	show-icons: false;
	hide-scrollbar: true;
	display-drun: "";
}

* {
	bg: #161821;
	fg: #d2d4de;
	accent: #d2d4de;
	background-color: @bg;
	text-color: @fg;
}

window {
	padding: 7px;
	border: 1px;
	border-color: @fg;
}

prompt, entry {
	text-color: @fg;
}

element {
	border-radius: 0px;
	padding: 3px;
}

element selected {
	background-color: @fg;
	text-color: @bg;
}
